codecov
kodi-addon-checker
mysql-connector-python
polib
pycryptodomex
pylint
requests
setuptools
tox
xmlschema
Kodistubs==19.0.3
httpx[http2]
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
